# Ambientes Virtuais
venv/
.env
env/

# Python (Arquivos compilados e cache)
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Dados e Datasets (Importante!)
data/
*.csv
*.npy
*.npz
*.json

# IDEs (PyCharm e VS Code)
.idea/
.vscode/
*.swp
*.swo

# Configurações de API (Kaggle)
.kaggle/
kaggle.json

# Logs e Saídas de Treinamento
scripts/logs/
notebooks/.ipynb_checkpoints/