venv/
.env
env/
.venv/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

data/
*.csv
*.npz
*.json

.idea/
.vscode/
*.swp
*.swo

.kaggle/
kaggle.json

scripts/logs/
notebooks/.ipynb_checkpoints/

.DS_store